#creacion {
  margin-top: 30px;
  margin-bottom: 30px;
}

form {
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.1s ease-in;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
