<div *ngIf="examExist()">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <h3 class="text-center">Presentación de examen</h3>
  </nav>
  <div class="mt-4" id="presentacion">
    <form #idStuForm="ngForm">
      <div class="row">
        <div class="form-group col-md-6">
          <div class="mb-3">
            <label>Ingrese su ID</label>
            <input
              type="text"
              class="form-control"
              id="studentIdCard"
              [(ngModel)]="idStudent"
              name="studentIdCard"
              required
              placeholder="Ingrese su identificación"
              #studentId="ngModel"
            />

            <div
              class="alert alert-danger"
              *ngIf="studentId.invalid &&(studentId.dirty || studentId.touched)"
              id="alertStudentId"
            >
              <div *ngIf="studentId.errors.required">
                Ingrese ID de estudiante
              </div>
            </div>
          </div>
        </div>
      </div>

      <button class="btn btn-success mt-2" [disabled]="!idStuForm.form.valid" (click)="studentExist(idStudent)">
        Iniciar examen
      </button>
    </form>
    <form (ngSubmit)="onSubmit()" #examPresentationForm="ngForm" id="formPres" *ngIf="existStudent == true">
      <div class="takeExam">
        <div>
          <div>
            {{ exam.introduction }}
            <br />
            <br />
          </div>
          <div>
            El puntaje máximo es: {{ exam.maxScore }}
            <hr />
            <br />
          </div>
          <div *ngFor="let question of exam.questions">
            <div *ngIf="question.questionType == 'ONLYANSWER'" class="mt-2 mb-2">
              {{ question.description }}
              <div *ngFor="let option of question.options">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    value="option.idOption"
                    [(ngModel)]="optionId"
                    type="radio"
                    name="option"
                    id="optionRB"
                  />
                  <label class="form-check-label" for="optionRB">
                    {{ option.description }}
                  </label>
                </div>
              </div>
            </div>
            <div *ngIf="question.questionType == 'MULTIANSWER'" class="mt-2 mb-2">
              {{ question.description }}
              <div *ngFor="let option of question.options">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="option.idOption"
                    [(ngModel)]="optionId"
                    id="optionCheck"
                  />
                  <label class="form-check-label" for="optionCheck">
                    {{ option.description }}
                  </label>
                </div>
              </div>
            </div>
            <div *ngIf="question.questionType == 'OPENANSWER'" class="mt-2 mb-2">
              {{ question.description }}
              <textarea
                class="form-control mt-4 mb-4"
                id="textAreaOpenAnswer"
                rows="3"
                [(ngModel)]="answer.openAnswer"
                name="descripcion"
                required
                placeholder="Ingrese la descripcion de la pregunta"
                #questionDescription="ngModel"
              >
              </textarea>
            </div>
            <hr class="questionSeparator" />
          </div>

          <button
            type="button"
            class="btn btn-success mt-2"
            data-bs-toggle="modal"
            data-bs-target="#modalSend"
          >
            Enviar examen
          </button>

          <div
            class="modal fade"
            id="modalSend"
            tabindex="-1"
            aria-labelledby="modalSendLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  ¿Está seguro de que desea enviar su examen?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-success" (click)="(examPresentationForm.form.valid)">Enviar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div *ngIf="!examExist()">
  Este examen no existe
</div>
